<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="log">
 	 <param name="rtcm_topic" value="/rtcm"/>
 	 <!-- <param name="ntrip_server" value="193.105.85.52:2101"/>
 	 <param name="ntrip_user" value="ikh_rtk"/>
 	 <param name="ntrip_pass" value="21092g68"/> 
	 <param name="ntrip_stream" value="Single_Base_RTK"/> -->
	 <!-- <param name="ntrip_stream" value="RTK_VRS_RTCM32_GGGB"/> -->

	 <param name="ntrip_server" value="rtk2go.com:2101"/>
	 <param name="ntrip_user" value=""/>
	 <param name="ntrip_pass" value="innovation"/>
	 <param name="ntrip_stream" value="IKH_RTK_RTCM32"/>

 	 <param name="nmea_gga" value="$GPGGA,%02d%02d%04.2f,3758.755,N,02342.541,W,1,12,1.0,0.0,M,0.0,M,,*6F"/>
	 <!-- <param name="nmea_gga" value="$GPGGA,105434.870,3758.754,N,02342.543,E,1,12,1.0,0.0,M,0.0,M,,*6C"/> -->
	 <!-- <param name="nmea_gga" value="$GPGGA,%02d%02d%04.2f,3213.06516704,N,599.62092864,W,2,6,1.2,18.893,M,-25.669,M,2.0,0031*4F" /> -->
  </node>
</launch>
