<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="rtcm_topic" default="/rtcm"/>
	<arg name="gps_topic" default="gnss"/>
	<arg name="config_dir" default="$(find ntrip_ros)/config/ntrip.yaml"/>
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
		<remap from="/rtcm" to="$(arg rtcm_topic)" />
		<remap from="/gps/fix" to="$(arg gps_topic)"/>
		<rosparam command="load" file="$(arg config_dir)" subst_value="true"/>
	</node>
</launch>
